name: "[Reusable workflows] push draft to hatena blog"

on:
  workflow_call:
    secrets:
      OWNER_API_KEY:
        required: true

jobs:
  push-draft:
    runs-on: ubuntu-latest
    env:
      BLOGSYNC_PASSWORD: ${{ secrets.OWNER_API_KEY }}
    steps:
      - uses: actions/checkout@v4
      - name: setup
        uses: hatena/hatenablog-workflows/.github/actions/setup@main
      - name: Get changed draft files
        id: changed-draft-files
        uses: tj-actions/changed-files@v39
        with:
          files: draft_entries/**
      - name: push only draft entry
        run: |
          for file in ${{ steps.changed-draft-files.outputs.all_changed_files }}; do
            draft=$(yq --front-matter=extract 'select(.Draft == true)' "$file")
            editurl=$(yq --front-matter=extract 'select(.EditURL == "https://blog.hatena.ne.jp/*")' "$file")
            if [[ -n "$draft" ]] && [[ -n "$editurl" ]]; then
              blogsync push "$file"
            fi
          done
