name: "[Reusable workflows] initialize"

on:
  workflow_call:
    inputs:
      is_draft_included:
        default: true
        type: boolean
      BLOG_DOMAIN:
        required: true
        type: string
    secrets:
      OWNER_API_KEY:
        required: true

jobs:
  initialize:
    env:
      BLOGSYNC_PASSWORD: ${{ secrets.OWNER_API_KEY }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0
      - name: setup
        uses: hatena/hatenablog-workflows/.github/actions/setup@2c159def2fce5ebed56e62d70136a4a93a435725 # v2.0.5
      - name: set blog domain
        id: set-domain
        run: |
          domain=${{ inputs.BLOG_DOMAIN }}
          echo "BLOG_DOMAIN=$(echo $domain | tr -d '\n\r ')" >> "$GITHUB_OUTPUT"
      - name: pull
        run: |
          blogsync pull ${{ steps.set-domain.outputs.BLOG_DOMAIN }}
      - name: move draft and update metadata
        if: inputs.is_draft_included == true
        uses: hatena/hatenablog-workflows/.github/actions/move-draft-and-update-metadata@2c159def2fce5ebed56e62d70136a4a93a435725 # v2.0.5
      - name: delete draft files
        if: inputs.is_draft_included == false
        run: |
          target=$(git ls-files -mo --exclude-standard | xargs grep -xl 'Draft: true' || echo "")
          if [[ -n "$target" ]]; then
            IFS=" " read -r -a draft_files <<< "$(echo "$target" | xargs)"
            for file in "${draft_files[@]}"; do
              rm "$file"
            done
          fi
      - name: create pull request
        uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 # v8.1.0
        with:
          title: initialize
          branch: initialize
          commit-message: |
            initialize
          body: |
            はてなブログから取得した記事データを commit しました
            **${{ inputs.is_draft_included && '下書き記事を含んでいますので公開リポジトリの場合はマージは慎重に行ってください' || '公開記事のみが対象となっています'}}**
          labels: |
            skip-push
          delete-branch: true
