name: "[Reusable workflows] pull draft entry from hatenablog"

on:
  workflow_call:
    inputs:
      title:
        required: true
        type: string
      BLOG_DOMAIN:
        required: true
        type: string
    secrets:
      OWNER_API_KEY:
        required: true

jobs:
  pull:
    runs-on: ubuntu-latest
    env:
      BLOGSYNC_PASSWORD: ${{ secrets.OWNER_API_KEY }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: setup
        uses: hatena/hatenablog-workflows/.github/actions/setup@v1
      - name: set blog domain
        id: set-domain
        run: |
          domain=${{ inputs.BLOG_DOMAIN }}
          echo "BLOG_DOMAIN=$(echo $domain | tr -d '\n\r ')" >> "$GITHUB_OUTPUT"
      - name: pull
        run: |
          blogsync pull ${{ steps.set-domain.outputs.BLOG_DOMAIN }}
      - name: set entry path
        id: set-entry-path
        run: |
          files=($(git ls-files -o --exclude-standard))
          for file in ${files[@]}; do
            title=$(yq --front-matter=extract '.Title' "$file")
            if [[ "$title" == ${{ inputs.title }} ]]; then
              entry_path="$file"
            fi
          done
          if [[ -z "$entry_path" ]]; then
            echo "Error: No draft entry titled ${{ inputs.title }} was found"
            exit 1
          fi
          echo "ENTRY_PATH=$entry_path" >> $GITHUB_OUTPUT
      - name: pull draft by title
        uses: hatena/hatenablog-workflows/.github/actions/create-draft-pull-request@v1
        with:
          title: ${{ inputs.title }}
          BLOG_DOMAIN: ${{ steps.set-domain.outputs.BLOG_DOMAIN }}
          ENTRY_PATH: ${{ steps.set-entry-path.outputs.ENTRY_PATH }}
