name: "[Reusable workflows] pull draft entry from hatenablog"

on:
  workflow_call:
    inputs:
      title:
        required: true
        type: string
      draft:
        default: true
        type: boolean
      BLOG_DOMAIN:
        required: true
        type: string
    secrets:
      OWNER_API_KEY:
        required: true

jobs:
  pull-draft:
    runs-on: ubuntu-latest
    env:
      BLOGSYNC_PASSWORD: ${{ secrets.OWNER_API_KEY }}
      ENTRY_TITLE: ${{ inputs.title }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
      - name: setup
        uses: hatena/hatenablog-workflows/.github/actions/setup@960e473e95640024b81d975b512173f78d087c21 # v2.0.5
      - name: set blog domain
        id: set-domain
        run: |
          domain=${{ inputs.BLOG_DOMAIN }}
          echo "BLOG_DOMAIN=$(echo $domain | tr -d '\n\r ')" >> "$GITHUB_OUTPUT"
      - name: pull
        run: |
          blogsync pull ${{ steps.set-domain.outputs.BLOG_DOMAIN }}
      - name: set entry path
        id: set-entry-path
        run: |
          files=($(git ls-files -o --exclude-standard))
          for file in ${files[@]}; do
            title=$(yq --front-matter=extract '.Title' "$file")
            if [[ "$title" == "$ENTRY_TITLE" ]]; then
              entry_path="$file"
            fi
          done
          if [[ -z "$entry_path" ]]; then
            echo "Error: No draft entry titled ${ENTRY_TITLE} was found"
            exit 1
          fi
          echo "ENTRY_PATH=$entry_path" >> $GITHUB_OUTPUT
      - name: pull draft by title
        uses: hatena/hatenablog-workflows/.github/actions/create-draft-pull-request@960e473e95640024b81d975b512173f78d087c21 # v2.0.5
        with:
          title: ${{ inputs.title }}
          draft: ${{ inputs.draft }}
          BLOG_DOMAIN: ${{ steps.set-domain.outputs.BLOG_DOMAIN }}
          ENTRY_PATH: ${{ steps.set-entry-path.outputs.ENTRY_PATH }}
