name: "[Reusable workflows] pull from hatenablog"

on:
  workflow_call:
    inputs:
      BLOG_DOMAIN:
        required: true
        type: string
    secrets:
      OWNER_API_KEY:
        required: true

jobs:
  pull:
    runs-on: ubuntu-latest
    env:
      BLOGSYNC_PASSWORD: ${{ secrets.OWNER_API_KEY }}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0
      - name: setup
        uses: hatena/hatenablog-workflows/.github/actions/setup@2c159def2fce5ebed56e62d70136a4a93a435725 # v2.0.5
      - name: set blog domain
        id: set-domain
        run: |
          domain=${{ inputs.BLOG_DOMAIN }}
          echo "BLOG_DOMAIN=$(echo $domain | tr -d '\n\r ')" >> "$GITHUB_OUTPUT"
      - name: pull
        run: |
          blogsync pull ${{ steps.set-domain.outputs.BLOG_DOMAIN }}
      - name: delete draft files
        run: |
          target=$(git ls-files -mo --exclude-standard | xargs grep -xl 'Draft: true')
          if [[ -n "$target" ]]; then
            IFS=" " read -r -a draft_files <<< "$(echo "$target" | xargs)"
            for file in "${draft_files[@]}"; do
              rm "$file"
            done
          fi
      - name: create pull request
        uses: peter-evans/create-pull-request@22a9089034f40e5a961c8808d113e2c98fb63676 # v7.0.11
        with:
          title: blogsync pull
          branch: blogsync-pull
          commit-message: |
            blogsync pull
          body: |
            blogsync pull
          labels: |
            skip-push
          delete-branch: true
