name: "[Reusable workflows] push published entries"

on:
  workflow_call:
    secrets:
      OWNER_API_KEY:
        required: true

jobs:
  upload-images:
    if: github.event.pull_request.merged == false
    uses: hatena/hatenablog-workflows/.github/workflows/upload-images.yaml@2c159def2fce5ebed56e62d70136a4a93a435725 # v2.0.5
    secrets:
      OWNER_API_KEY: ${{ secrets.OWNER_API_KEY }}
