name: "[Reusable workflows] push published entries"

on:
  workflow_call:
    secrets:
      OWNER_API_KEY:
        required: true

jobs:
  upload-images:
    if: github.event.pull_request.merged == false
    uses: hatena/hatenablog-workflows/.github/workflows/upload-images.yaml@8564b85b51cda20eb962f0dec3bf3fcff3dd0326 # v2.0.7
    secrets:
      OWNER_API_KEY: ${{ secrets.OWNER_API_KEY }}
