name: "[Reusable workflows] push draft to hatena blog"

on:
  workflow_call:
    secrets:
      OWNER_API_KEY:
        required: true

jobs:
  upload-images:
    uses: hatena/hatenablog-workflows/.github/workflows/upload-images.yaml@v1
    secrets:
      OWNER_API_KEY: ${{ secrets.OWNER_API_KEY }}
  push-draft:
    if: always()
    needs: upload-images
    runs-on: ubuntu-latest
    env:
      BLOGSYNC_PASSWORD: ${{ secrets.OWNER_API_KEY }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          ref: ${{ needs.upload-images.result == 'success' && needs.upload-images.outputs.revision || '' }}
          fetch-depth: 0
      - name: setup
        uses: hatena/hatenablog-workflows/.github/actions/setup@v1
      - name: Get changed draft files
        id: changed-draft-files
        uses: tj-actions/changed-files@48d8f15b2aaa3d255ca5af3eba4870f807ce6b3c # v45.0.2
        with:
          files: draft_entries/**/*.md
      - name: push only draft entry
        run: |
          for file in ${{ steps.changed-draft-files.outputs.all_changed_files }}; do
            draft=$(yq --front-matter=extract 'select(.Draft == true)' "$file")
            editurl=$(yq --front-matter=extract 'select(.EditURL == "https://blog.hatena.ne.jp/*")' "$file")
            if [[ -n "$draft" ]] && [[ -n "$editurl" ]]; then
              blogsync push "$file"
            fi
          done
