name: "[Reusable workflows] push to hatena blog"

on:
  workflow_call:
    inputs:
      local_root:
        default: "entries"
        type: string
    secrets:
      OWNER_API_KEY:
        required: true

jobs:
  push:
    if: |
      github.event.pull_request.merged == true
      && !contains(github.event.pull_request.labels.*.name, 'skip-push')
    runs-on: ubuntu-latest
    env:
      BLOGSYNC_PASSWORD: ${{ secrets.OWNER_API_KEY }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
      - name: setup
        uses: hatena/hatenablog-workflows/.github/actions/setup@ed4c22897bcc6c971686a0a2c0d9d49dddd02f47 
      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@7dee1b0c1557f278e5c7dc244927139d78c0e22a # v47.0.4
        with:
          files: ${{ inputs.local_root }}/**/*.md
          since_last_remote_commit: true
      - name: blogsync push
        run: |
          for file in ${{ steps.changed-files.outputs.all_changed_files }}; do
            draft=$(yq --front-matter=extract 'select(.Draft == true)' "$file")
            if [[ -z "$draft" ]]; then
              blogsync push "$file"
            fi
          done
