name: "[Reusable workflows] push draft to hatena blog"

on:
  workflow_call:
    secrets:
      OWNER_API_KEY:
        required: true

jobs:
  upload-images:
    uses: hatena/hatenablog-workflows/.github/workflows/upload-images.yaml@960e473e95640024b81d975b512173f78d087c21 # v2.0.5
    secrets:
      OWNER_API_KEY: ${{ secrets.OWNER_API_KEY }}
  push-draft:
    if: always()
    needs: upload-images
    runs-on: ubuntu-latest
    env:
      BLOGSYNC_PASSWORD: ${{ secrets.OWNER_API_KEY }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: ${{ needs.upload-images.result == 'success' && needs.upload-images.outputs.revision || '' }}
          fetch-depth: 0
      - name: setup
        uses: hatena/hatenablog-workflows/.github/actions/setup@960e473e95640024b81d975b512173f78d087c21 # v2.0.5
      - name: Get changed draft files
        id: changed-draft-files
        uses: tj-actions/changed-files@7dee1b0c1557f278e5c7dc244927139d78c0e22a # v47.0.4
        with:
          files: draft_entries/**/*.md
      - name: push only draft entry
        run: |
          for file in ${{ steps.changed-draft-files.outputs.all_changed_files }}; do
            draft=$(yq --front-matter=extract 'select(.Draft == true)' "$file")
            editurl=$(yq --front-matter=extract 'select(.EditURL == "https://blog.hatena.ne.jp/*")' "$file")
            if [[ -n "$draft" ]] && [[ -n "$editurl" ]]; then
              blogsync push "$file"
            fi
          done
