name: "[Reusable workflows] push published entries"

on:
  workflow_call:
    secrets:
      OWNER_API_KEY:
        required: true

jobs:
  upload-images:
    if: github.event.pull_request.merged == false
    uses: hatena/hatenablog-workflows/.github/workflows/upload-images.yaml@960e473e95640024b81d975b512173f78d087c21 # v2.0.5
    secrets:
      OWNER_API_KEY: ${{ secrets.OWNER_API_KEY }}
